@{
  Layout = "_Layout";
}

<h1>Welcome to Word Counter Game!</h1>
<h2>This simple game will return a number of repeated words in your sentence.</h2>
<h3><a href='/new'>Proceed to a new game!<a/></h3>
