@{
  Layout = "_Layout";
}

<div class = "form">
  <h1>Search inside city table!</h1>
  <form action="/result2" method="post">
    <label for="name">Please enter a city name</label>
    <input id="name" name="name" type="text" required>
    <br>

    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>
