<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter Game!</title>
  </head>
  <body>
    <h1>To Do List</h1>

    <form action="/items" method="post">
      <label for="sentence">Please enter a sentence</label>
      <input id="sentence" name="sentence" type="text">
      <label for="word">Please enter a word</label>
      <input id="word" name="word" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
