@{
  Layout = "_Layout";
}

<h2>Your sentence was: <em>"@Model[1]".</em>
<br>
<h2>Your word was: <em>"@Model[2]"</em>.</h2>
<h3>The word [@Model[2]] appeared @Model[0].GetCounter() time/s.</h3>
<a href='/new'>Check again?<a/>
